head{
    text-align: center;
    background-color: ;
}

body{
    background-image:linear-gradient(to right, #07437D, #041334, #06162D ) ;
    
}
h1, h2, p{

    color:white;
}
.lateral{
    align-self: left;
}